<!--footer starts-->
<div id="footer">
  <div class="copy">
    &copy; 2010 Make Film Work
  </div>
  <div class="flinks">
    <span><a href="#">HOME</a></span><span class="separator"> | </span>
    <span><a href="#">ABOUT</a></span><span class="separator"> | </span>
    <span><a href="#">REEL</a></span><span class="separator"> | </span>
    <span><a href="#">SCREENCASTS</a></span><span class="separator"> | </span>
    <span><a href="#">CONTACT</a></span><span class="separator"> | </span>
    <span><a href="http://vectorart.org">Design by Vector</a></span>
  </div>
</div>
<!--footer ends-->