<!--ltcontent starts-->
<div id="ltcontent">
  <!--hdlogo starts-->
  <div id="hdlogo" align="center">
    <%= image_tag('topbanner.jpg') %>
  </div>
  <!--hdlogo ends-->
  <!--about starts-->
  <div id="about">
    <div class="lthead" align="center"><span class="tphead">About Authors Bio</span></div>
    <div class="ltdetail">
      It is a long established fact that a reader will be distracted by the readable content of a page when looking at
      its layout.
    </div>
    <div class="link">
      Get in touch with us
    </div>
  </div>
  <!--about ends-->
  <div class="ltgap"></div>
  <!--popular starts-->
  <div id="mostpop">
    <div class="lthead"><span>most popular tags</span></div>
    <!--ltposts starts-->
    <div class="ltposts">
      <ul>

        <% tag_cloud Post.tag_counts, %w[s m l] do |tag, css_class| %>

            <%= link_to tag.name, tag_path(tag.name), class: css_class %>,

        <% end %>

      </ul>
    </div>


    <!--rtposts ends-->
    <div class="clear"></div>
  </div>
  <!--popular ends-->
  <div class="ltgap"></div>
  <!-- search starts-->
  <div id="search">
    <div class="input">
      <input type="text" name="search" class="textbox"/> <input type="submit" value="SEARCH" class="searchBut"/>
    </div>
  </div>
  <!--search ends-->
  <div class="ltgap"></div>
  <!--about starts-->
  <div id="feeds">
    <div class="lthead" align="center"><span class="tphead">subscribe to feeds</span></div>
    <div class="ltdetail">
      <ul>
        <li><a href="#">Subscribe to blog updates</a></li>
        <li><a href="#">Subscribe to screen-cast updates</a></li>
      </ul>
    </div>
  </div>
  <!--about ends-->
  <div class="ltgap"></div>
  <!--about starts-->
  <div id="social">
    <div class="lthead"><span>my social networks</span></div>
    <div>
      <a href="#"><img src="images/link1.png" alt=""/></a>
      <a href="#"><img src="images/link2.png" alt=""/></a>
      <a href="#"><img src="images/link3.png" alt=""/></a>
      <a href="#"><img src="images/link4.png" alt=""/></a>
      <a href="#"><img src="images/link5.png" alt=""/></a>
    </div>
  </div>
  <!--about ends-->
</div>
<!--ltcontent ends-->